{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE META -->
    <title>Teach Me | Responsive Learning Management System Template</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">

    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
    <!-- REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}">

    <!-- BOOTSTRAP STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    <!--[if IE]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <![endif]-->

</head>
<body>

<!-- PRELOADER -->
<div id="loader">
    <div class="loader-container">
        <img src="{% static 'images/load.gif' %}" alt="" class="loader-site spinner">
    </div>
</div>
<!-- END PRELOADER -->

<!-- START SITE -->
<div id="wrapper" STYLE="border-style: dashed;border-width: 6px;border-color:red">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-left">
                    <div class="topmenu">
                        <span class="hidden-xs"><i class="fa fa-lock"></i> <a href="#">Customer Login</a></span>
                        <span class="hidden-xs"><i class="fa fa-envelope-o"></i> <a href="mailto:name@yoursite.com">name@yoursite.com</a></span>
                        <span><i class="fa fa-phone-square"></i> 1-900-324-5467</span>
                    </div><!-- end callus -->
                </div>

                <div class="col-md-6 col-sm-12 text-right"
                     STYLE="border-style: dashed;border-width: 6px;border-color:green">
                    <div class="social-icons">
                        <ul class="list-inline">
                            <li class="facebook"><a data-toggle="tooltip" data-placement="bottom" title="Facebook"
                                                    href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="google"><a data-toggle="tooltip" data-placement="bottom" title="Google Plus"
                                                  href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="twitter"><a data-toggle="tooltip" data-placement="bottom" title="Twitter"
                                                   href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="linkedin"><a data-toggle="tooltip" data-placement="bottom" title="Linkedin"
                                                    href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pinterest"><a data-toggle="tooltip" data-placement="bottom" title="Pinterest"
                                                     href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="skype"><a data-toggle="tooltip" data-placement="bottom" title="Skype" href="#"><i
                                    class="fa fa-skype"></i></a></li>
                            <li class="vimeo"><a data-toggle="tooltip" data-placement="bottom" title="Vimeo" href="#"><i
                                    class="fa fa-vimeo"></i></a></li>
                            <li class="youtube"><a data-toggle="tooltip" data-placement="bottom" title="Youtube"
                                                   href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div><!-- end social icons -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end topbar -->
    </div><!-- end topbar -->

    <div class="logo-wrapper logo-center" STYLE="border-style: dashed;border-width: 6px;border-color:#1d78cb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                    <div class="site-logo">
                        <a class="navbar-brand" href="#">Teach<span>me</span>
                            <small>Learning Management System</small>
                        </a>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end logo-wrapper -->

    <header class="header header-center">
        <div class="container">
            <nav class="navbar navbar-default yamm">
                <div class="container-f">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse"
                         STYLE="border-style: dashed;border-width: 6px;border-color:#8a6d3b">
                        <ul class="nav navbar-nav">
                            <li class="dropdown hasmenu active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Home <span
                                        class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Home Search Hero</a></li>
                                    <li><a href="#">Home Video Parallax</a></li>
                                    <li><a href="#">Home Landing Page</a></li>
                                    <li><a href="#">Home Leftside Menu</a></li>
                                    <li><a href="#">Home Boxed Version</a></li>
                                    <li><a href="#">Home Alternative Style</a></li>
                                    <li><a href="#">Home Under Construction</a></li>
                                </ul>
                            </li>
                            <li><a href="#">About</a></li>
                            <li class="megamenu dropdown hasmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <span
                                        class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content clearfix">
                                            <div class="row">
                                                <ul class="col-sm-4 list-unstyled box">
                                                    <li><a href="#">Carousel Elements</a></li>
                                                    <li><a href="#">Course Boxes</a></li>
                                                    <li><a href="#">Image & Service Boxes</a></li>
                                                    <li><a href="#">Counts & Progress</a></li>
                                                    <li><a href="#">Pricing Tables</a></li>
                                                    <li><a href="#">Tab Elements</a></li>
                                                </ul>

                                                <ul class="col-sm-4 list-unstyled box">
                                                    <li><a href="#">Toggle Elements</a></li>
                                                    <li><a href="#">All Used Buttons</a></li>
                                                    <li><a href="#">Form Fields</a></li>
                                                    <li><a href="#">Multimedia Elements</a></li>
                                                    <li><a href="#">Columns & Grid</a></li>
                                                    <li><a href="#">Typography Elements</a></li>
                                                </ul>

                                                <ul class="col-sm-4 list-unstyled box">
                                                    <li><a href="#">Default Header Style </a></li>
                                                    <li><a href="#">Logo & Menu Center</a></li>
                                                    <li><a href="#">Logo & Menu Leftside</a></li>
                                                    <li><a href="#">Header Transparent</a></li>
                                                    <li><a href="#">Header Alternative 1</a></li>
                                                    <li><a href="#">Header Alternative 2</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown has-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Courses <span
                                        class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                            role="button" aria-expanded="false">Member Panel <span
                                            class="fa fa-angle-right"></span></a>
                                        <ul class="dropdown-menu show-left" role="menu">
                                            <li><a href="#">Member Profile</a></li>
                                            <li><a href="#">Member Courses</a></li>
                                            <li><a href="#">Member Achievements</a></li>
                                            <li><a href="#">Member Messages</a></li>
                                            <li><a href="#">Member Friends</a></li>
                                            <li><a href="#">Member Profile Edit</a></li>
                                            <li><a href="#">Member Login</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Courses List View</a></li>
                                    <li><a href="#">Courses Grid View</a></li>
                                    <li><a href="#">Courses Filterable 3 Col</a></li>
                                    <li><a href="#">Courses Filterable 4 Col</a></li>
                                    <li><a href="#">Courses With Sidebar</a></li>
                                    <li><a href="#">Course Single</a></li>
                                    <li><a href="#">Course Quiz</a></li>
                                    <li><a href="#">Course Checkout</a></li>
                                </ul>
                            </li>
                            <li class="dropdown hasmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Pages <span
                                        class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">About Company</a></li>
                                    <li><a href="#">Pricing & Plan</a></li>
                                    <li><a href="#">Get In Touch</a></li>
                                    <li><a href="#">Became a Teacher</a></li>
                                    <li><a href="#">Team & Instructors</a></li>
                                    <li><a href="#">Happy Testimonials</a></li>
                                    <li><a href="#">Page Not Found</a></li>
                                    <li><a href="#">Page Right Sidebar</a></li>
                                    <li><a href="#">Page Left Sidebar</a></li>
                                    <li><a href="#">Page No Sidebar</a></li>
                                </ul>
                            </li>
                            <li class="dropdown hasmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Blog <span
                                        class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Blog List Layout</a></li>
                                    <li><a href="#">Blog Normal Layout</a></li>
                                    <li><a href="#">Blog No Sidebar</a></li>
                                    <li><a href="#">Blog Grid Sidebar</a></li>
                                    <li><a href="#">Blog Grid Fullwidth</a></li>
                                    <li><a href="#">Blog Single Sidebar</a></li>
                                    <li><a href="#">Blog Single Fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Forums</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav><!-- end nav -->
        </div><!-- end container -->
    </header><!-- end header -->

    <!-- Start of django templates -->



    {% block content %}

    {% endblock %}

    <!-- End of django templates -->


    <div class="logo-wrapper background-color" STYLE="border-style: dashed;border-width: 6px;border-color:#3B5998">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 text-center">
                    <div class="site-logo">
                        <a class="navbar-brand" href="#">Teach<span>me</span>
                            <small>Learning Management System</small>
                        </a>
                    </div>
                </div><!-- end col -->

                <div class="col-md-8 text-right hidden-xs">
                    <div class="postpager">
                        <ul class="pager row-fluid">
                            <li class="col-md-4 col-sm-4 col-xs-12">
                                <div class="post">
                                    <a href="course-single.html">
                                        <img alt="" src="/media/pager_01.png" class="img-responsive alignleft">
                                        <h4>Learning Web Design & Development</h4>
                                        <small>View Course</small>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-4 col-sm-4 col-xs-12">
                                <div class="post">
                                    <a href="course-single.html">
                                        <img alt="" src="/media/pager_02.png" class="img-responsive alignleft">
                                        <h4>Graphic Design Introduction Course</h4>
                                        <small>View Course</small>
                                    </a>
                                </div>
                            </li>
                            <li class="col-md-4 col-sm-4 col-xs-12">
                                <div class="post">
                                    <a href="course-single.html">
                                        <img alt="" src="/media/pager_03.jpg" class="img-responsive alignleft">
                                        <h4>Social Media Marketing Strategy</h4>
                                        <small>View Course</small>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div><!-- end postpager -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end logo-wrapper -->

    <div class="topbar copyrights" STYLE="border-style: dashed;border-width: 6px;border-color:#21a117">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 text-left hidden-xs">
                    <div class="topmenu">
                        <span><i class="fa fa-home"></i> <a href="#">Home</a></span>
                        <span><a href="#">About us</a></span>
                        <span><a href="#">Contact us</a></span>
                        <span><a href="#">Terms of Usage</a></span>
                        <span><a href="#">Site Copyrights</a></span>
                    </div><!-- end callus -->
                </div>

                <div class="col-md-6 col-sm-12 text-right">
                    <div class="social-icons">
                        <ul class="list-inline">
                            <li class="facebook"><a data-toggle="tooltip" data-placement="top" title="Facebook"
                                                    href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="google"><a data-toggle="tooltip" data-placement="top" title="Google Plus"
                                                  href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="twitter"><a data-toggle="tooltip" data-placement="top" title="Twitter"
                                                   href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="linkedin"><a data-toggle="tooltip" data-placement="top" title="Linkedin"
                                                    href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pinterest"><a data-toggle="tooltip" data-placement="top" title="Pinterest"
                                                     href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li class="skype"><a data-toggle="tooltip" data-placement="top" title="Skype" href="#"><i
                                    class="fa fa-skype"></i></a></li>
                            <li class="vimeo"><a data-toggle="tooltip" data-placement="top" title="Vimeo" href="#"><i
                                    class="fa fa-vimeo"></i></a></li>
                            <li class="youtube"><a data-toggle="tooltip" data-placement="top" title="Youtube"
                                                   href="#"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div><!-- end social icons -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end topbar -->
    </div><!-- end topbar -->
</div><!-- end wrapper -->

<div class="dmtop">Scroll to Top</div>
<!-- END SITE -->

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>

<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS -->
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script type="text/javascript" src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script type="text/javascript">
    (function ($) {
        "use strict";
        var tpj = jQuery;
        var revapi98;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_98_2").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_98_2");
            } else {
                revapi98 = tpj("#rev_slider_98_2").show().revolution({
                    sliderType: "hero",
                    jsFileLocation: "revolution/js/",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {},
                    responsiveLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [660, 610, 560, 560],
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "slidercenter",
                        speed: 2000,
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                    },
                    shadow: 0,
                    spinner: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /*ready*/
    })(jQuery);
</script>

</body>
</html>